* {
  box-sizing: border-box
}

.container {
  position: relative;
  width: 100%;
  max-width: 300px;
  align-items: center;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 0.1rem;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}