* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  position: relative;
  align-items: center;
  text-align: center;
  /* padding: 2px 16px; */
}

.card {
  width: 100%;
  max-width: 25rem !important;
  transition: 0.3s;
}

.img-container {
  overflow: hidden;
  /* border-radius: 10px; */
  border-radius: 100%;
  border: 1px solid #ccc;
}

.card img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.card img:hover {
  transform: scale(1.1);
  /* Zoom in the image */
}