.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

/* logo image */
.logo img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

/* links */
.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #2f6df6;
}