
.animate {
	opacity: 1 !important;
	transform: translateY(0) translateX(0) scale(1) !important;
}

.animate-background {
	opacity: 1 !important;
	width: 100vw !important;
	transform: translateY(0) translateX(0) scale(1) !important;
}

.animate-navbar::before {
	width: 100% !important;
	left: 0 !important;
}
